{
    "presets": [
        [
        "@babel/preset-env",
        {
            "targets": {
            "browsers": [ "last 2 versions", "ie >= 11" ]
            },
            "exclude": [ "transform-classes" ]
        }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import"
    ]
}
  